

.pp-infobox-title {
	font-size: $infobox-title-text-size !important; 
}

.pp-infobox-description{ 	font-size: $infobox-body-text-size !important;}

.pp-button-wrap {
	margin-top:20px;
	margin-bottom:15px;
}

.pp-button-wrap a{
	border-radius:4px 4px 4px 4px !important;	
	font-size: 18px !important;
}
 
.lb-infobox {
	.pp-infobox{
		@include addMaterial();
	}
}

.lb-infobox-1{
	.pp-button-wrap {
		margin: 10px 0px  0px !important;
	}

	.pp-infobox{
		padding: 0px 0px !important;
	}

	.pp-infobox-title{
			font-size: $h4-fontsize !important;
			border-bottom: 2px solid $accent-color;
			padding:10px 10px;
			display:inline-block;
	}
		
	.pp-infobox-description .pp-button-wrap{
			background: $accent-color !important;
	}

	.pp-infobox-description .pp-button-wrap a{
		color: $primary-color !important; 
	}

	.pp-infobox-description .pp-button-wrap a:hover{
		color: $tertiary-color !important;
	}
}

.lb-infobox-padded{
	.pp-infobox-title{
		padding-left: 30px !important; 
		padding-right: 30px !important; 
	}

	.pp-infobox{
		padding: 20px 20px !important;
	}
}