
.lb-form .fl-module-content {
    .pp-contact-form{
        border-radius: $border-radius !important;
        &:hover{
            @extend .hoverable ; 
        }
    }
}


// form sizes
//==============================================================================================
@mixin setFormSize($text-size, $height){
    //specific for powerpack and contact form 7 form  
    input {
        font-size: $text-size !important;
        padding: $input-padding !important;
        height: $height !important;
        //not setting margin here since it will override distance for validation message. 
    }
    
    label {
        margin: 0;
        font-weight: 400;
        color: $form-label-color ;
        font-size: $text-size ; 
    }
    
    button{
        margin: $input-margin; 
    }       
}

.lb-form-small{ @include setFormSize( $label-small-text-size, $input-small-height  ); }
.lb-form-medium{    @include setFormSize( $label-medium-text-size, $input-medium-height   ); }
.lb-form-large{ @include setFormSize( $label-large-text-size, $input-large-height );}


// overall form styles 
//==============================================================================================
.lb-cf7 {
  
    form{
            padding: 20px ;
    }

    label {
        margin-top: 30px;
        font-weight: 400;
        color: $form-label-color ;
    }

    input {
        margin-bottom: 5px ;
        height: auto;
        padding: 5px 5px 3px;
    }

    input[type=text], #quote-request-holder .lb-row input[type=tel],
    input[type=email] {
        color: #333;
    }
/* .row only works if put in each parent div of contact form 7 inputs there needs to be child divs within for some reason applying this to only lb-row div directly does not work, these classes should be added in the cf7 editor*/
    .lb-row div{
        margin-bottom: 15px;
    }
    
    .lb-row label.help {
        font-size: 11px;
    }
    
   .lb-row label.help {
      font-size: 11px;
    }  
     select {
        display: block;
        width: 100%;
        margin-top: 10px;
        padding: 5px;
        color: #333;
    }

     textarea {
        color: #333;
    }
    
    button{ margin-top:10px ; margin-bottom: 10px ; }

    div.wpcf7-validation-errors{
        border: none !important ;
    }
    // this is for the space between the validation message and the input it is validating.
    // this is specifically for contact form 7.
    .wpcf7-not-valid{
         margin-bottom: $validation-message-margin !important;
    }

}


