 
::placeholder {
  color: #aaa !important;
  font-size: 16px !important;
}

.lb-input{
    input, select, textarea {
        border-radius: $border-radius !important ;

        &:hover { @extend .z-depth-1 ; }
    }
}

// Input bottom style-- input bottom means border on bottom of input fields only 
//=========================================================================================================
@mixin addInputBottomStyle($highlight-color){
  // using browser default makes it highlight correctly idk why
    
    // targeting pp-contact-form as well to ensure override. 
    input:not(.browser-default), textarea,select, 
    .pp-contact-form input[type=email] ,.pp-contact-form input[type=tel], .pp-contact-form input[type=text], .pp-contact-form textarea {
        background-color: transparent;
        border-top: none !important;
        border-right: none !important;
        border-left: none !important ;
        border-bottom: 1px solid $input-border-color ;
        border-radius: 0px !important;
        outline: none;
        width: 100%;
        
        &:focus:not([readonly]) {
            border-bottom: 1px solid $highlight-color;
            -moz-transition:border-bottom .5s;
            -ms-transition:border-bottom .5s;
             -o-transition:border-bottom .5s;
                transition:border-bottom .5s;

        }
        
        // Focused label style only works if label comes after the input field since that is what plus is for
        &:focus:not([readonly]) + label {
            color: $highlight-color;
        }
    }
    
    
    input:not(.browser-default), textarea, select{
       // Focused input style
        &:focus:not([readonly]) {
            border-bottom: 1px solid $highlight-color;
            box-shadow: 0 1px 0 0 $highlight-color;
        }

        // Focused label style only works if label comes after the input field since that is what plus is for
        &:focus:not([readonly]) + label {
            color: $highlight-color;
        }
    }
}

//@mixin addBottomBorderEffects($highlight-color){
//    input:not(.browser-default), textarea, select{
//       // Focused input style
//        &:focus:not([readonly]) {
//            border-bottom: 1px solid $highlight-color;
//            box-shadow: 0 1px 0 0 $highlight-color;
//        }
//
//        // Focused label style only works if label comes after the input field since that is what plus is for
//        &:focus:not([readonly]) + label {
//            color: $highlight-color;
//        }
//    }
//}


.lb-input-bottom-accent{  @include addInputBottomStyle($accent-color); }
.lb-input-bottom-primary {     @include addInputBottomStyle($primary-color); }

//input full styling -- input full means full border
//========================================================================================================
@mixin addInputFullEffects( $highlight-color){
     input, select, textarea {
        
        border: 1px solid $input-border-color !important; 
         
        &:focus {   border: 1px solid $highlight-color  !important; }
    }
}

.lb-input-full-accent {    @include addInputFullEffects($accent-color)}
.lb-input-full-primary{   @include addInputFullEffects($primary-color) }





