

// Raised Button
.lb-btn  .fl-button, .lb-btn .pp-button {
  text-decoration: none;
  text-align: center;
  border-radius: $border-radius !important;
  letter-spacing: .5px;
  @extend .z-depth-2;
  transition: .2s ease-out;
  cursor: pointer;

  &:hover {
    @extend .hoverable;
  }
}

/************ mixin for different colored buttons ********************/
@mixin addButtonStyle( $background, $textColor   ){
  border: none !important;
  background-color:  $background !important; 
  color: $textColor !important; 
  
  &:hover {
    background-color: lighten($background , 10%) !important; 
  }
  & span,i  {
    color: $textColor !important ;
  }
}

.lb-btn-primary .fl-button, .lb-btn-accent .pp-button{
   @include addButtonStyle( $primary-color, $primary-text );
}

.lb-btn-accent .fl-button, .lb-btn-accent .pp-button {
    @include addButtonStyle( $accent-color, $accent-text );
}

.lb-btn-light {
    .fl-button, .lb-btn-accent .pp-button{
      // using light bgheadertext temporarily just doing to match but if want more control 
      //create separate variable.
      @include addButtonStyle( $light-bg, $light-bg-header-text)
    } 
}

.lb-btn-holo .fl-button, .lb-holo-btn .pp-button {
    border: 1px solid $accent-color !important;
    color: $accent-color !important; 
    background-color: $transparent-color !important;
    &:hover {
      background-color: lighten($accent-color, 42%) !important; 
      color: $accent-color !important; 
    }
    & span, i {color: $accent-color !important; }
}


@mixin addButtonAlignment( $position){
    @media only screen and (min-width: 500px) {
        .fl-button-wrap {
            text-align: $position !important ; 
        }
    }
    @media only screen and (max-width: 500px) {
       .fl-button-wrap{
         text-align: center !important ; 
    }
  }
}

.lb-btn-right {
    @include addButtonAlignment(right);
}

// .lb-btn-right .fl-button-wrap{
//   text-align: right !important ; 
// }

/***********Custom styles for dual buttons ******************/
// styling for first button in dual button
.lb-dual-btn-1 .pp-dual-button-1 .pp-button{
	@extend .lb-btn; 
}

// // Flat button
// .btn-flat {
//   box-shadow: none;
//   background-color: transparent;
//   color: $button-flat-color;
//   cursor: pointer;
//   transition: background-color .2s;

//   &:focus,
//   &:hover {
//     box-shadow: none;
//   }

//   &:focus {
//     background-color: rgba(0,0,0,.1);
//   }

//   &.disabled {
//     background-color: transparent !important;
//     color: $button-flat-disabled-color !important;
//     cursor: default;
//   }
// }

// // Large button
// .btn-large {
//   @extend .btn;
//   height: $button-large-height;
//   line-height: $button-large-height;

//   i {
//     font-size: $button-large-icon-font-size;
//   }
// }

// // Block button
// .btn-block {
//   display: block;
// }
