
/* header styling */
.fl-page-header {background-color: $header-bg; }
.fl-page-nav-wrap .navbar-nav > li.current-menu-item > a { color: $header-active !important;}
.fl-page-nav-wrap .navbar-nav > li.current-menu-item > a:active { color: $header-active !important;}


.fl-page-nav-wrap .navbar-nav a{color: $header-inactive !important;}
.fl-page-nav-wrap .navbar-nav li a:hover { color: $header-hover !important; }
.fl-page-nav-wrap .navbar-nav  a:hover { color: $header-hover !important; }


.sub-menu{ border-top:3px solid  $header-hover !important;}
.sub-menu li:hover{  background-color: $light-bg !important; }

 

.fl-page-bar a {
    margin-right: 10px !important;
    color: $accent-color !important; 
     font-size: 16px;
       &:hover{
        color: $primary-color ;
        }
    i{
        color: $accent-color !important; 
       
    }
}

.fl-page-header-primary .fl-logo-img {
    height: $logo-height !important;
}

// star is necesary to work. 
.fl-page-bar-row *{
    text-align: $topbar-item-position !important;
}