/***********Custom styles for dual buttons ******************/
// styling for first button in dual button
.lb-dual-btn-1 .pp-dual-button-1 .pp-button{
	 @include addButtonStyle($accent-color, $accent-text)
}

.lb-dual-btn-1 {
	.pp-dual-button-1 .pp-button{
		 @include addButtonStyle($accent-color, $accent-text);

		 &:hover{ 	
			  @extend .hoverable ;
			-moz-transition: background-color 300ms ease-out;
			-webkit-transition: background-color 300ms ease-in-out;
			-ms-transition: background-color 300ms ease-in-out;
			transition: background-color 300ms ease-in-out;
		 }
	}	

	.pp-dual-button-2 .pp-button{
		border: 1px solid #fff !important;
		color: #fff !important; 
		background-color: $transparent !important;
		
		&:hover {
			@extend .hoverable; 
			background-color: lighten(#fff , 10%) !important; 
			 color: $accent-color !important; 

			 -moz-transition: background-color 300ms ease-out;
			-webkit-transition: background-color 300ms ease-in-out;
			-ms-transition: background-color 300ms ease-in-out;
			transition: background-color 300ms ease-in-out;
		}

		&:hover span{	color: $accent-color !important; }

		& span, i {color: #fff !important; 	}
	}
 }
