.lb-filterable-gallery{
    // for filter titles
    .pp-gallery-filters li {
        border-radius:  $border-radius !important;
        @include addMaterial();
        &:hover{ 
            @extend .hoverable ; 
        }
    }
    
    // for grid item container "border-radius top does not work here thats why doing below
    .pp-gallery-grid-item  {
        border-radius: $border-radius ; 
        @include addMaterial();
    }    
    
    // targets just the image of the grid item. 
    .pp-photo-gallery-content{
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
         &:hover{             
            @extend .hoverable ; 
        }
    }
 
}

@mixin addColorStyle($color, $text-color){
    .pp-gallery-filters li{
     &:hover{ 
            background-color: $color;
            color: $text-color;   
        }
    }
    
    .pp-filter-active{
        background-color: $color !important;
        color: $text-color !important;   
    }
}

.lb-filterable-gallery-accent{
      @include addColorStyle($accent-color, $accent-text);
}