

.lb-timeline-1{
    text-align: center;

    .pp-timeline-content{
          @include addMaterial() ;
    }

    .pp-timeline-title-wrapper{      
            background: $timeline-title-bg !important;
            color: $timeline-title-text !important;
            border-radius: $border-radius $border-radius 0px 0px;
     }

    .pp-timeline-text-wrapper{
        background: $timeline-info-bg !important; 
        border-radius: 0px 0px $border-radius $border-radius;
    }

    .pp-timeline-icon {
        @extend .z-depth-1 ;
        background: $timeline-title-bg !important ;
        border-color: transparent;
        border-style: none;
        border-radius: 100px !important;
        border-width: 0px;
        color: $timeline-title-text !important;
        
            .pp-icon{
                font-size: $timeline-icon-size !important; 
            }
    }

    .pp-timeline-item:nth-of-type(1n) .pp-separator-arrow{
        border-left-color: $accent-color !important;
    }

        @media only screen and (max-width: 768px){
        .lb-timeline-1 .pp-separator-arrow {
                border-right-color: $timeline-info-bg  !important;
                border-left: none !important;
        }
    }
      @media only screen and (min-width: 768px){
           .pp-timeline-item:nth-of-type(2n) .pp-separator-arrow{
             border-right-color: $accent-color  !important;
      }
}
}

    
