
.light { font-weight: 300; }
.thin { font-weight: 200; }

@mixin setTextColor($color){
    color: $color ;
    h1, h2, h3, h4, h5, h6 , p , a ,li, i{
        color: $color ;
        @include transition-text-color-change();
        
        span{
            color: $color ;
            @include transition-text-color-change(); 
        }
    }
    
    a:hover, a i:hover{
        color: $accent-color !important; 
    }
}

// these are for controlling color of all internal elements with one class
.lb-text-light{ @include setTextColor($white);  }
.lb-text-dark{ @include setTextColor(#000); }
.lb-text-white{ @include setTextColor($white); }
.lb-text-gray{ @include setTextColor(#aaa); }
.lb-text-accent{ @include setTextColor($accent-color); }
.lb-text-primary{ @include setTextColor($primary-color);}

.lb-text-small{   font-size: 12px ; }
.lb-text-medium{ font-size: 16px ;}
.lb-text-large{ font-size: 20px ;}


//  gives you finer color control over heading text
@mixin setHeadingColor($color){
    h1,h2,h3,h4,h5,h6{  
        color: $color ;
        a{
            color: $color ; 
            @include transition-text-color-change();
            &:hover{
                color: $accent-color ;
            }
        }
        
        span{
            color: $color ;
        }
    }
}

.lb-heading-light{ @include setHeadingColor(#aaa ) ; }
.lb-heading-gray{  @include setHeadingColor( #aaa );}
.lb-heading-white{  @include setHeadingColor( $white );}
.lb-heading-dark{  @include setHeadingColor( $dark );}
.lb-heading-accent {  @include setHeadingColor( $accent-color );}
.lb-heading-primary{ @include setHeadingColor( $primary-color );}
// this gives you finer color control over body text
@mixin setBodyTextColor($color){
    p{ color: $color ; }
}

.lb-body-light{ @include setBodyTextColor( #aaa ); }
.lb-body-gray{  @include setBodyTextColor( #aaa );}
.lb-body-white{  @include setBodyTextColor( $white );}
.lb-body-dark{  @include setBodyTextColor( $dark );}
.lb-body-accent {  @include setBodyTextColor( $accent-color );}
