/* custom hover effects */
.lb-holo-hover:hover , .lb-holo-hover a:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}

.zoomOnScroll img:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
