
// ===========================================================================
// Materialize variables
// ==========================================================================
//
// Table of Contents:

// 1. Colors
// =====================================================================================

$primary-color:#0a2972 ;
$primary-text: #fff; 

$secondary-color: #aaa;
$secondary-color-text: #000 ;

$tertiary-color: #aaa;
$tertiary-text: #000; 

$accent-color: #db67d2;
$accent-text: #fff; 

$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$transparent-color: rgba(0, 0, 0, 0) ;

$light: #f6f8fb;
$dark: #3c3636;
$white: #fff ; 
$black: rgba(0, 0, 0, 0.87) !default;
$grey: #808080 ;

// Defaults 
//===========================================================================
$link-color: $primary-color ; 
$link-hover: $accent-color ;

// Typography
//===========================================================================
$small-text: 1.0rem; 
$medium-text: 1.20rem ;
$large-text: 1.75rem ;
$default-font-size: 20px; 


$h1-fontsize: 3rem !default;
$h2-fontsize: 2.5em !default;
$h3-fontsize: 2rem !default;
$h4-fontsize: 1.5rem !default;
$h5-fontsize: 1.25rem !default;
$h6-fontsize: 1.0rem !default;
$p-fontsize: 1.2rem ;
$nav-item-fontsize: 16px ;

// Header 
//==========================================================================
$header-active: #000;
$header-inactive:#000 ;
$header-hover: $accent-color ;
$header-bg:rgba(242,242,242, 1) ;
$hamburger-top-position: 60px ; 

$logo-height: auto ; 
$topbar-item-position: right ; 


//  Footer
// ==========================================================================
$footer-font-color: #000 !default;
$footer-bg-color: $primary-color !default;
$footer-font-size: 16px; 
$footer-item-margin: 10px ;
$footer-item-hover-color: #aaa; 
$footer-item-display: inline-block ; 


$footer-social-size: 23px; 
$footer-social-color: $white ; 
$footer-social-hover-color: $accent-color; 
$footer-social-spacing: 10px ;
$footer-social-display: inline-block ;

// Hero Image
//==========================================================================
$page-title-color: #fff; 
$page-title-font-size: $h2-fontsize; 
$page-title-font-size-mobile: $h3-fontsize; 

$section-title-color: #0a2972;
$hero-image-padding: 80px; 
$hero-image-padding-mobile: 30px;

// Sections && container
//===========================================================================
$section-title-font-size: $h3-fontsize ;
$section-vertical-padding: 40px;

$light-bg: $light ;
$light-bg-header-text: $primary-color;
$light-bg-body-text: #aaa; 

$dark-bg: $dark;
$dark-bg-header-text: #fff;
$dark-bg-body-text: #fff;
 

// Styling 
//===========================================================================
$border-radius:4px ;
$separator-width: 80%;


// Timeline   
//===========================================================================
$timeline-title-bg: $accent-color ;
$timeline-title-text: $accent-text ;
$timeline-icon-size: 40px ;
$timeline-info-bg: $light-bg ;


//Infobox
//===========================================================================
$infobox-title-text-size: $large-text ;
$infobox-body-text-size: $medium-text ;


// Buttons
//===========================================================================
$button-small-width: 100px;
$button-small-padding: 10px;
    
$button-medium-width: 150px ;
$button-medium-padding: 13px ;

$button-large-width: 200px ;
$button-large-padding:15px ;

// Shared styles
$button-border: none !default;
$button-background-focus: lighten($secondary-color, 4%) !default;
$button-font-size: 1rem !default;
$button-icon-font-size: 1.3rem !default;
$button-height: 36px !default;
$button-padding: 0 2rem !default;
$button-radius: 2px !default;

// Disabled styles
$button-disabled-background: #DFDFDF !default;
$button-disabled-color: #9F9F9F !default;

// Raised buttons
$button-raised-background: $secondary-color !default;
$button-raised-background-hover: lighten($accent-color, 10%) !default;
$button-raised-color: #fff !default;

// Large buttons
$button-large-icon-font-size: 1.6rem !default;
$button-large-height: $button-height * 1.5 !default;

// Flat buttons
$button-flat-color: #343434 !default;
$button-flat-disabled-color: lighten(#999, 10%) !default;

// Floating buttons
$button-floating-background: $secondary-color !default;
$button-floating-background-hover: $button-floating-background !default;
$button-floating-color: #fff !default;
$button-floating-size: 40px !default;
$button-floating-large-size: 56px !default;
$button-floating-radius: 50% !default;

// content-grid 
//============================================================================
$content-grid-img-height: 200px ;
// bottom margin has extra cause hover material gets cut off on bottom without it.
$content-grid-post-margin: 10px 10px 20px 10px ; 


// Forms
// =========================================================================
$form-label-color: #aaa; 
$form-title-color: $primary-color ;
$form-accent: $primary-color ;

// small form sizes 
$label-small-text-size: $small-text ;
$input-small-height: 40px ;
 
// medium form sizes
$label-medium-text-size: $medium-text ;
$input-medium-height: 45px ;
  
// large form sizes
$label-large-text-size: 1.5rem ;
$input-large-height: 50px ;
  
$input-transition: all .3s !default;
$input-border-color:#aaa;
$input-padding: 5px !default;

// inputmargin bottom controls distance between input and validation message.
$validation-message-margin: 0px;

// currently not controlling for forms since if marked as important on forms
$input-margin-bottom: 30px;
$input-margin: 0 0 $input-margin-bottom 0 !default;


// ending forms here 


// 10. Fonts
// ==========================================================================

$roboto-font-path: "../fonts/roboto/" !default;


// 12. Global
// ==========================================================================

// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;


// 13. Grid
// ==========================================================================

$num-cols: 12 !default;
$gutter-width: 1.5rem !default;
$element-top-margin: $gutter-width/3 !default;
$element-bottom-margin: ($gutter-width*2)/3 !default;

// 23. Flow Text flow text is mobile responsive text. 
// ==========================================================================
$range : $large-screen - $small-screen !default;
$intervals: 20 !default;
$interval-size: $range / $intervals !default;