
.lb-section .fl-row-content-wrap{ 
	padding: $section-vertical-padding  20px !important;

	.fl-heading-text {
		font-size: $section-title-font-size !important;
		color: $section-title-color !important;
	}
}

//styles background adn text for light sections ==================================================
.lb-section-light {
	.fl-row-content-wrap{
	 background-color: $light-bg !important; 
	}
	 .fl-heading-text{	color: $light-bg-header-text !important; }

	  p{ 	color: $light-bg-body-text !important;	}

	h1,h2,h3,h4,h5,h6{		
		span a {
			color: $light-bg-header-text !important;
		}
	}
}

// styles background and text for dark sections =================================================
.lb-section-dark .fl-row-content-wrap{
	background-color: $dark-bg !important;

	.fl-heading-text{	color: $dark-bg-header-text !important; }
	
	p{ color: $dark-bg-body-text !important;}

	h1, h2, h3, h4, h5 {
		span a {
			color: $dark-bg-header-text !important;
		}
	}
}


// classes for background controls inner text color as well =============================
.lb-light-bg {
	.fl-row-content-wrap,.pp-infobox-wrap .pp-infobox{
		background-color: $light-bg !important;
	}
	h1,h2,h3,h4,h5,h6{
		color: $light-bg-header-text !important;
		
		span{
			color: $light-bg-header-text !important;
		}
	}
	 p{ 	
		color: $light-bg-body-text !important;
 	}
}


.lb-dark-bg {
	.fl-row-content-wrap{
		background-color: $dark-bg !important; 
	}
	h1, h2, h3, h4, h5 {
		color: $dark-bg-header-text !important; 
		span a {
			color: $dark-bg-header-text !important;
		}
	}
	p { 
		color: $dark-bg-body-text !important 
	}
}

/*spaces columns vertically */ 
.lb-vertical-col-space .fl-col-group{
	margin-top: 10px !important; 
}
