
.lb-section .fl-row-content-wrap{ 
	padding: $section-vertical-padding  20px !important;

	.fl-heading-text {
		font-size: $section-title-font-size !important;
		 
	}
}

@mixin setSectionStyle($bg-color, $header-text-color, $body-text-color){
    .fl-row-content-wrap{
	 background-color: $bg-color !important; 
	}
	 .fl-heading-text{	color: $header-text-color ; }

	  p{ 	color: $body-text-color ;	}

	h1,h2,h3,h4,h5,h6{		
		span a {
			color: $header-text-color ;
		}
	}
}
//styles background adn text for light sections ==================================================
.lb-section-light { @include setSectionStyle($light-bg, $light-bg-header-text, $light-bg-body-text); }

// styles background and text for dark sections ================================================
.lb-section-dark{
    @include setSectionStyle($dark-bg, $dark-bg-header-text, $dark-bg-body-text);
}


// classes for background controls inner text color as well ==================================
@mixin addBgColor($bg-color, $bg-header-text, $bg-body-text){
    .fl-row-content-wrap,.pp-infobox-wrap .pp-infobox{
		background-color: $bg-color !important;
	}
	h1,h2,h3,h4,h5,h6{
		color: $bg-header-text ;
		
		span{
			color: $bg-header-text ;
		}
	}
	 p{ 	
		color: $bg-body-text ;
 	}
}

.lb-light-bg {
    @include addBgColor($light-bg, $light-bg-header-text ,  $light-bg-body-text);
}


.lb-dark-bg {
    @include addBgColor($dark-bg, $dark-bg-header-text ,  $dark-bg-body-text);
}

.lb-accent-bg{
    @include addBgColor($accent-color, $accent-text ,  $accent-text);
}
/*spaces columns vertically */ 
.lb-vertical-col-space .fl-col-group{
	margin-top: 10px !important; 
}
