 // not complete do not use this file must be tested and improved.

.lb-table-1{
    
    table{
        border: 1px solid #c4c4c4;  
    }
   tr td:first-child {
        background-color: $light-bg ;
        padding: 10px;
        border-right: 1px solid #c4c4c4;  
        margin-right: 20px ; 
        border-bottom: 1px solid #c4c4c4; 
    }
    td{
         border-bottom: 1px solid #c4c4c4;  
         font-size: $small-text; 
    }
}

.lb-table-alternate tbody{
    tr:nth-child(odd){
            background-color: #fff !important; 
     }
    tr:nth-child(even){
            background-color: $light-bg !important; 
     }       
}