.fl-page-footer-text{ 
    a{ 
        color: $footer-font-color !important;
        margin-right: $footer-item-margin;
        font-size: $footer-font-size;
 ; 
    }
}

.lb-footer{
    i{
        font-size: 23px; 
        color: $white ;
        margin-right: 10px ;
    }
    p{
        display: inline-block;
         margin-right: 10px ;
        color: $white ;
    }
}