
//controls global text styling
html , body {    
    line-height: 1.5;
    
    @media #{$large-and-up}{
        font-size: 16px ; 
    }
    
    @media #{$medium-only}{
        font-size: 14px;
    }
    
    @media #{$small-and-down}{
        font-size: 12px ;
    }
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: $off-black;
}


// Header Styles
@mixin setHeaderStyle($font-size){
    font-size: $font-size; 
    line-height: 110%;
    font-weight: 400;
    margin: ($font-size / 2) 0 ($font-size / 2.5) 0;
    
    a{ font-weight: inherit; }
}

h1{  @include setHeaderStyle($h1-fontsize);}
h2{  @include setHeaderStyle($h2-fontsize); }
h3{  @include setHeaderStyle($h3-fontsize ); }
h4{  @include setHeaderStyle($h4-fontsize); }
h5{  @include setHeaderStyle($h5-fontsize );}
h6{  @include setHeaderStyle($h6-fontsize ); }


p{
    font-size: $p-fontsize ; 
}

a {
  text-decoration: none;
}
//end global text styling 
// Text Styless
em { font-style: italic; }
strong { font-weight: 500; }
small { font-size: 75%; }
.light { font-weight: 300; }
.thin { font-weight: 200; }

@mixin setTextColor($color){
    color: $color ;
    h1, h2, h3, h4, h5, h6 , p , a ,li, i{
        color: $color ;
        @include transition-text-color-change();
        
        span{
            color: $color ;
            @include transition-text-color-change(); 
        }
    }
    
    a:hover, a i:hover{
        color: $accent-color !important; 
    }
}

// these are for controlling color of all internal elements with one class
.lb-text-light{ @include setTextColor($white);  }
.lb-text-dark{ @include setTextColor(#000); }
.lb-text-white{ @include setTextColor($white); }
.lb-text-gray{ @include setTextColor(#aaa); }
.lb-text-accent{ @include setTextColor($accent-color); }
.lb-text-primary{ @include setTextColor($primary-color);}

//  gives you finer color control over heading text
@mixin setHeadingColor($color){
    h1,h2,h3,h4,h5,h6{  
        color: $color ;
        a{
            color: $color ; 
            @include transition-text-color-change();
            &:hover{
                color: $accent-color ;
            }
        }
    }
}

.lb-heading-light{ @include setHeadingColor(#aaa ) ; }
.lb-heading-gray{  @include setHeadingColor( #aaa );}
.lb-heading-white{  @include setHeadingColor( $white );}
.lb-heading-dark{  @include setHeadingColor( $dark );}
.lb-heading-accent {  @include setHeadingColor( $accent-color );}

// this gives you finer color control over body text
@mixin setBodyColor($color){
    p{ color: $color ; }
}

.lb-body-light{ @include setBodyColor( #aaa ); }
.lb-body-gray{  @include setBodyColor( #aaa );}
.lb-body-white{  @include setBodyColor( $white );}
.lb-body-dark{  @include setBodyColor( $dark );}
.lb-body-accent {  @include setBodyColor( $accent-color );}
