

.lb-timeline-1{
    text-align: center;

    .pp-timeline-content{
          @include addMaterial() ;
    }

    .pp-timeline-title-wrapper{      
            background: $timelineTitleBg !important;
            color: $timelineTitleText !important;
            border-radius: $borderRadius $borderRadius 0px 0px;
     }

    .pp-timeline-text-wrapper{
        background: $timelineInfoBg !important; 
        border-radius: 0px 0px $borderRadius $borderRadius;
    }

    .pp-timeline-icon {
        @extend .z-depth-1 ;
        background: $timelineTitleBg !important ;
        border-color: transparent;
        border-style: none;
        border-radius: 100px !important;
        border-width: 0px;
        color: $timelineTitleText !important;
        
            .pp-icon{
                font-size: $timelineIconSize !important; 
            }
    }

    .pp-timeline-item:nth-of-type(1n) .pp-separator-arrow{
        border-left-color: $accentColor !important;
    }

        @media only screen and (max-width: 768px){
        .lb-timeline-1 .pp-separator-arrow {
                border-right-color: $timelineInfoBg  !important;
                border-left: none !important;
        }
    }
      @media only screen and (min-width: 768px){
           .pp-timeline-item:nth-of-type(2n) .pp-separator-arrow{
             border-right-color: $accentColor  !important;
    }
}
}

    
