

.lb-module-no-space{
    .fl-module-content{
        margin: 0px 0px !important; 
        padding: 0px 0px !important ;
     }
}

.lb-module-white{
    .fl-module{ background-color: #fff !important; }
}

.lb-module-light {  background-color: $light-bg !important;     }

.lb-module-dark { background-color: $dark-bg !important; }

.lb-module-accent{ background-color: $accent-color !important; }

.lb-module-primary { background-color: $primary-color !important; }

//deprecating lb-elevate do not use, use lb-module-elevate instead.
// used for elevating content module containers most used thats why no type prefix.
.lb-elevate .fl-module-content:first-child {
    @include addMaterial();
}

// targets each single child module ie if header and text editor were in column both would be targeted for elevation and separated. 
.lb-module-elevate{
     .fl-module{
        @include addMaterial();
        margin: 10px 10px !important;
     }
}

// need to add dark module and alternate 
.lb-module-accent-top .fl-module-content:first-child {      border-top: 2px solid $accent-color !important; }

.lb-module-primary-top .fl-module-content:first-child{      border-top: 2px solid $primary-color !important; }

// for alternating module color backgrounds,
//used if multipl modules in a row or column to alternate bg. 
.lb-module-alternate-1{
     .fl-module:nth-child(odd){
            background-color: #fff !important; 
     }
    .fl-module:nth-child(even){
            background-color: $light-bg !important; 
     }       
}
