 
::placeholder {
  color: #aaa !important;
  font-size: 16px !important;
}

.lb-input{
    input, select, textarea {
        border-radius: $border-radius !important ;

        &:hover {
             @extend .z-depth-1 ; 
        }
    }
}



// Input bottom style-- input bottom means border on bottom of input fields only 
//=========================================================================================================
@mixin addInputBottomStyle(){
  // using browser default makes it highlight correctly idk why
    input:not(.browser-default), textarea{
        background-color: transparent;
        border: none !important;
        border-radius: 0px;
        outline: none;
        width: 100%;
        transition: $input-transition;
    }
    input:not(:focus), textarea:not(:focus){
        transition: $input-transition;
        border-bottom: 1px solid #aaa !important;
    }
}

@mixin addBottomBorderEffects($highlight-color){
    input:not(.browser-default), textarea{
       // Focused input style
        &:focus:not([readonly]) {
            border-bottom: 1px solid $highlight-color;
            box-shadow: 0 1px 0 0 $highlight-color;
        }

        // Focused label style only works if label comes after the input field since that is what plus is for
        &:focus:not([readonly]) + label {
            color: $highlight-color;
        }
    }
}

.lb-input-bottom {   @include addInputBottomStyle(); }
.lb-input-bottom-accent{    @include  addBottomBorderEffects($accent-color); }
.lb-input-bottom-primary {     @include addBottomBorderEffects($primary-color) ; }

//input full styling -- input full means full border
//========================================================================================================



@mixin addInputFullEffects( $highlight-color){
     input, select, textarea {
        &:focus {
            border: 1px solid $highlight-color  !important;
        }
    }
}

.lb-input-full-accent {    @include addInputFullEffects($accent-color)}
.lb-input-full-primary{   @include addInputFullEffects($primary-color) }

// this is for the space between the validation message and the input it is validating.

.wpcf7-not-valid{
     margin-bottom: $validation-message-margin !important;
}




