 // Focused input style


  .lb-form-2{

    .fl-module-content:first-child{
        border-top: 2px solid $accentColor !important;  
    }

                
      input:not([type]),
      input[type=text]:not(.browser-default),
      input[type=password]:not(.browser-default),
      input[type=email]:not(.browser-default),
      input[type=url]:not(.browser-default),
      input[type=time]:not(.browser-default),
      input[type=date]:not(.browser-default),
      input[type=datetime]:not(.browser-default),
      input[type=datetime-local]:not(.browser-default),
      input[type=tel]:not(.browser-default),
      input[type=number]:not(.browser-default),
      input[type=search]:not(.browser-default),
      textarea{

        // General Styles
        background-color: transparent;
        border: none;
        border-bottom: $input-border;
        border-radius: 0;
        outline: none;
        height: $input-height;
        width: 100%;
        font-size: $input-font-size;
        margin: $input-margin;
        padding: $input-padding;
        box-shadow: none;
        box-sizing: content-box;
        transition: $input-transition;

        // Focused input style
        &:focus:not([readonly]) {
          border-bottom: 1px solid $input-focus-color;
          box-shadow: 0 1px 0 0 $input-focus-color;
        }

        // Focused label style
        &:focus:not([readonly])+label {
          color: $input-focus-color;
        }
      }
  }
  