// Utility Color Classes

//.success {
//
//}

// Google Color Palette defined: 

// removed google color pallette, to much css for no use of there colors
$white: #fff ; 
$black: rgba(0, 0, 0, 0.87) !default;
$grey: #808080 ;
$transparent: rgba(0, 0, 0, 0) ;

